-- MySQL dump 10.13  Distrib 8.0.42, for Linux (x86_64)
--
-- Host: localhost    Database: imaginatics_ruc
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `clientes`
--

DROP TABLE IF EXISTS `clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ruc` varchar(11) NOT NULL,
  `razon_social` varchar(255) NOT NULL,
  `monto` decimal(10,2) NOT NULL,
  `fecha_vencimiento` date NOT NULL,
  `whatsapp` varchar(15) NOT NULL,
  `tipo_servicio` enum('mensual','trimestral','semestral','anual') DEFAULT 'anual',
  `direccion` text,
  `estado_sunat` varchar(50) DEFAULT NULL,
  `fecha_creacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `fecha_actualizacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `activo` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `ruc` (`ruc`),
  KEY `idx_ruc` (`ruc`),
  KEY `idx_fecha_vencimiento` (`fecha_vencimiento`),
  KEY `idx_activo` (`activo`),
  KEY `idx_clientes_compuesto` (`activo`,`fecha_vencimiento`)
) ENGINE=InnoDB AUTO_INCREMENT=99 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `configuracion`
--

DROP TABLE IF EXISTS `configuracion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `configuracion` (
  `id` int NOT NULL AUTO_INCREMENT,
  `clave` varchar(100) NOT NULL,
  `valor` text NOT NULL,
  `descripcion` varchar(255) DEFAULT NULL,
  `fecha_actualizacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `clave` (`clave`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `consultas_ruc`
--

DROP TABLE IF EXISTS `consultas_ruc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `consultas_ruc` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ruc` varchar(11) NOT NULL,
  `respuesta_api` json DEFAULT NULL,
  `estado_consulta` enum('exitosa','error','no_encontrado') NOT NULL,
  `fecha_consulta` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `ip_origen` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_ruc` (`ruc`),
  KEY `idx_fecha_consulta` (`fecha_consulta`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `envios_whatsapp`
--

DROP TABLE IF EXISTS `envios_whatsapp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `envios_whatsapp` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cliente_id` int NOT NULL,
  `tipo_envio` enum('orden_pago','recordatorio_vencido','recordatorio_proximo') NOT NULL,
  `estado` enum('pendiente','enviado','error') DEFAULT 'pendiente',
  `mensaje_texto` text,
  `imagen_generada` tinyint(1) DEFAULT '0',
  `respuesta_api` text,
  `mensaje_error` text,
  `fecha_envio` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `fecha_programado` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_cliente_id` (`cliente_id`),
  KEY `idx_tipo_envio` (`tipo_envio`),
  KEY `idx_estado` (`estado`),
  KEY `idx_fecha_envio` (`fecha_envio`),
  KEY `idx_envios_compuesto` (`cliente_id`,`fecha_envio`,`estado`),
  CONSTRAINT `envios_whatsapp_ibfk_1` FOREIGN KEY (`cliente_id`) REFERENCES `clientes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=618 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `historial_pagos`
--

DROP TABLE IF EXISTS `historial_pagos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `historial_pagos` (
  `id` int NOT NULL AUTO_INCREMENT,
  `cliente_id` int NOT NULL,
  `monto_pagado` decimal(10,2) NOT NULL,
  `fecha_pago` date NOT NULL,
  `metodo_pago` enum('transferencia','deposito','yape','plin','efectivo','otro') NOT NULL,
  `numero_operacion` varchar(50) DEFAULT NULL,
  `banco` varchar(100) DEFAULT NULL,
  `comprobante_ruta` varchar(255) DEFAULT NULL,
  `observaciones` text,
  `registrado_por` varchar(100) DEFAULT 'Sistema',
  `fecha_registro` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_cliente_id` (`cliente_id`),
  KEY `idx_fecha_pago` (`fecha_pago`),
  KEY `idx_metodo_pago` (`metodo_pago`),
  CONSTRAINT `historial_pagos_ibfk_1` FOREIGN KEY (`cliente_id`) REFERENCES `clientes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `logs_sistema`
--

DROP TABLE IF EXISTS `logs_sistema`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `logs_sistema` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nivel` enum('info','warning','error','debug') NOT NULL,
  `modulo` varchar(50) NOT NULL,
  `mensaje` text NOT NULL,
  `datos_adicionales` json DEFAULT NULL,
  `fecha_log` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_nivel` (`nivel`),
  KEY `idx_modulo` (`modulo`),
  KEY `idx_fecha_log` (`fecha_log`)
) ENGINE=InnoDB AUTO_INCREMENT=312 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `sesiones`
--

DROP TABLE IF EXISTS `sesiones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sesiones` (
  `id` varchar(128) NOT NULL COMMENT 'ID de sesi├â┬│n generado',
  `usuario_id` int NOT NULL,
  `ip_address` varchar(45) NOT NULL,
  `user_agent` text,
  `payload` text,
  `last_activity` int NOT NULL,
  `fecha_expiracion` timestamp NOT NULL,
  `fecha_creacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_sesiones_expiracion` (`fecha_expiracion`),
  KEY `idx_sesiones_usuario` (`usuario_id`),
  CONSTRAINT `sesiones_ibfk_1` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `celular` varchar(15) NOT NULL COMMENT 'N├â┬║mero de celular sin +51',
  `password_hash` varchar(255) NOT NULL COMMENT 'Hash de la contrase├â┬▒a',
  `nombre` varchar(100) NOT NULL COMMENT 'Nombre del usuario',
  `activo` tinyint(1) DEFAULT '1' COMMENT 'Usuario activo',
  `primera_vez` tinyint(1) DEFAULT '1' COMMENT 'Primera vez que se loguea',
  `ultimo_acceso` timestamp NULL DEFAULT NULL COMMENT '├â┼íltimo acceso al sistema',
  `intentos_fallidos` int DEFAULT '0' COMMENT 'Intentos fallidos de login',
  `bloqueado_hasta` timestamp NULL DEFAULT NULL COMMENT 'Bloqueado hasta esta fecha',
  `fecha_creacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `fecha_actualizacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `celular` (`celular`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Temporary view structure for view `v_clientes_vencimiento`
--

DROP TABLE IF EXISTS `v_clientes_vencimiento`;
/*!50001 DROP VIEW IF EXISTS `v_clientes_vencimiento`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_clientes_vencimiento` AS SELECT 
 1 AS `id`,
 1 AS `ruc`,
 1 AS `razon_social`,
 1 AS `monto`,
 1 AS `fecha_vencimiento`,
 1 AS `whatsapp`,
 1 AS `direccion`,
 1 AS `estado_sunat`,
 1 AS `fecha_creacion`,
 1 AS `fecha_actualizacion`,
 1 AS `activo`,
 1 AS `dias_restantes`,
 1 AS `estado_vencimiento`,
 1 AS `dias_absolutos`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_estadisticas_pagos`
--

DROP TABLE IF EXISTS `v_estadisticas_pagos`;
/*!50001 DROP VIEW IF EXISTS `v_estadisticas_pagos`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_estadisticas_pagos` AS SELECT 
 1 AS `id`,
 1 AS `ruc`,
 1 AS `razon_social`,
 1 AS `monto_original`,
 1 AS `total_pagado`,
 1 AS `saldo_pendiente`,
 1 AS `cantidad_pagos`,
 1 AS `ultimo_pago`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_resumen_envios`
--

DROP TABLE IF EXISTS `v_resumen_envios`;
/*!50001 DROP VIEW IF EXISTS `v_resumen_envios`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_resumen_envios` AS SELECT 
 1 AS `id`,
 1 AS `ruc`,
 1 AS `razon_social`,
 1 AS `total_envios`,
 1 AS `ultimo_envio`,
 1 AS `envios_exitosos`,
 1 AS `envios_fallidos`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `v_clientes_vencimiento`
--

/*!50001 DROP VIEW IF EXISTS `v_clientes_vencimiento`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_clientes_vencimiento` AS select `c`.`id` AS `id`,`c`.`ruc` AS `ruc`,`c`.`razon_social` AS `razon_social`,`c`.`monto` AS `monto`,`c`.`fecha_vencimiento` AS `fecha_vencimiento`,`c`.`whatsapp` AS `whatsapp`,`c`.`direccion` AS `direccion`,`c`.`estado_sunat` AS `estado_sunat`,`c`.`fecha_creacion` AS `fecha_creacion`,`c`.`fecha_actualizacion` AS `fecha_actualizacion`,`c`.`activo` AS `activo`,(to_days(`c`.`fecha_vencimiento`) - to_days(curdate())) AS `dias_restantes`,(case when ((to_days(`c`.`fecha_vencimiento`) - to_days(curdate())) < 0) then 'VENCIDO' when ((to_days(`c`.`fecha_vencimiento`) - to_days(curdate())) = 0) then 'VENCE_HOY' when ((to_days(`c`.`fecha_vencimiento`) - to_days(curdate())) <= 3) then 'POR_VENCER' else 'AL_DIA' end) AS `estado_vencimiento`,abs((to_days(`c`.`fecha_vencimiento`) - to_days(curdate()))) AS `dias_absolutos` from `clientes` `c` where (`c`.`activo` = true) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_estadisticas_pagos`
--

/*!50001 DROP VIEW IF EXISTS `v_estadisticas_pagos`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_estadisticas_pagos` AS select `c`.`id` AS `id`,`c`.`ruc` AS `ruc`,`c`.`razon_social` AS `razon_social`,`c`.`monto` AS `monto_original`,coalesce(sum(`hp`.`monto_pagado`),0) AS `total_pagado`,(`c`.`monto` - coalesce(sum(`hp`.`monto_pagado`),0)) AS `saldo_pendiente`,count(`hp`.`id`) AS `cantidad_pagos`,max(`hp`.`fecha_pago`) AS `ultimo_pago` from (`clientes` `c` left join `historial_pagos` `hp` on((`c`.`id` = `hp`.`cliente_id`))) where (`c`.`activo` = true) group by `c`.`id`,`c`.`ruc`,`c`.`razon_social`,`c`.`monto` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_resumen_envios`
--

/*!50001 DROP VIEW IF EXISTS `v_resumen_envios`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_resumen_envios` AS select `c`.`id` AS `id`,`c`.`ruc` AS `ruc`,`c`.`razon_social` AS `razon_social`,count(`e`.`id`) AS `total_envios`,max(`e`.`fecha_envio`) AS `ultimo_envio`,sum((case when (`e`.`estado` = 'enviado') then 1 else 0 end)) AS `envios_exitosos`,sum((case when (`e`.`estado` = 'error') then 1 else 0 end)) AS `envios_fallidos` from (`clientes` `c` left join `envios_whatsapp` `e` on((`c`.`id` = `e`.`cliente_id`))) where (`c`.`activo` = true) group by `c`.`id`,`c`.`ruc`,`c`.`razon_social` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-09-05 19:09:28
